* { 
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-family: palatino;
    background-color: cornsilk;
} 

#home-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
    width: 100vw;
    padding: 10px;

    overflow: hidden;
}

#home-name{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    margin: 40px;
    padding: 50px;
    padding-bottom: 15px;
}

#directory{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    margin-top: 0%;
    margin: 10px;
    border-bottom: solid;
    border-top: solid;
    border-width: 2px;
}

.options{
    font-size: 1.5rem;
}

.lmargin{
    width: 20vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    border-right: solid;
    border-width: 1px;
}


.page-title{
    font-size: 2rem;
    margin-top: 30%;
}

.page-content{
    display: flex;
}

.main-cont{
    display: flex;
    padding: 20%;
    width: 50vw;
    background-color: green;
}

li{
    margin: 10pt;
    background-color: blue;
}
